@page "/bookmark.html"
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<div class="bookmark">
    <h3 class="name">@Name</h3>
    <a class="url" href="">@URL</a>
    <p>@Description</p>
    <p>@CustomTemplate.Name</p>
    <ul class="fields">
    @foreach (var field in CustomFieldsArray)
    {  
        <Field Name="@field.Name" />
    }
    </ul>
    <ul class="tags">
    @foreach (var tag in Tags)
    {  
        <li>@tag</li>
    }
    </ul>
    <smalltext>Keyword: @Keyword</smalltext>
</div>

@code {

    protected override void OnInitialized()
    {
        localStorage.SetItem(Name, this);
        var bookmark = localStorage.GetItem<Bookmark>(Name);
    }

}