@page "/bookmark"
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<!-- CSS -->
<style>
    .bookmark-header {
        display: flex;
        flex-direction: row;
    }
    .custom-field-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .hidden {
        display: none;
    }
</style>

<!-- Component -->
<div class="bookmark">
    <div class="bookmark-header">
        <Field Class="name" Name="Name" Value=@Name Placeholder="Website name..." />
        @if (Tags.Any()) {
            <div class="tags-container">
                @foreach (var tag in Tags) { <span class="tag">@tag</span> }
            </div>
        }
    </div>
    <div class="bookmark-contents">

        <Field Class="url" Name="URL" Value=@URL Placeholder="Paste URL here..." />

        <Field Class="keyword" Name="Keyword" Value=@Keyword Placeholder="Add a keyword..."/>

        <Field Class="description" Name="Description" Value=@Description Placeholder="Write a short description here..."/>

        <div class="custom-fields-list">
            @foreach (var field in CustomFields)
            {  
                <Field Class="custom-field" Name="@field.Name" />
            }
            <button class="add-field">Add Field</button>
        </div>

        <ul class="tags-list">
            @foreach (var tag in Tags)
            {  
                <li>@tag</li>
            }
        </ul>

        <div class="template">
            <select class="custom-templates-selector" id="templatesSelector" value="@CustomTemplate">
                <option selected disabled>Choose Template</option>
                @if (AllTemplates.Any())
                    @foreach (var template in AllTemplates)
                    {
                        <option value="@template">@template.Name</option>
                    }
            </select>
            <button class="set-template-button">Set as Template</button>
        </div>

    </div>
</div>

<!-- C# -->
@code {
    [CascadingParameter]
    public List<Template>? AllTemplates { get; set; }
    
    protected override void OnInitialized()
    {
        localStorage.SetItem(Name, this);
        var bookmark = localStorage.GetItem<Bookmark>(Name);
    }

}