@page "/bookmark"

<!-- CSS -->
<style>
    .bookmark-header {
        display: flex;
        flex-direction: row;
    }
    .custom-field-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .hidden {
        display: none;
    }
    * .selected-True {
        background-color: lightgray;
    }
</style>

<!-- Component -->
@if (DisplayAsFolderItem) {
    <span class="bookmark-item-heading">
        <span class="display @showDisplay">
            <NavLink class=@Class href="/bookmark">
                @Name
            </NavLink>
            <button class="edit-folder-item" @onclick="ToggleEditMode">Edit</button>
        </span>
        <span class="editing @showEditing">
            <input placeholder="Bookmark Name..." @bind="@newName"/>
            <button @onclick="SetValue">Done</button>
        </span>
    </span>
}
else
{
    <div class="bookmark">
        <div class="bookmark-header">
            <Field Class="name" Name="Name" Value=@Name Placeholder="Website name..." />
        </div>
        <div class="bookmark-contents">

            <Field Class="url" Name="URL" Value=@URL Placeholder="Paste URL here..." />

            <Field Class="keyword" Name="Keyword" Value=@Keyword Placeholder="Add a keyword..."/>

            <Field Class="description" Name="Description" Value=@Description Placeholder="Write a short description here..."/>

            <div class="custom-fields-list">
                @foreach (var field in CustomFields)
                {  
                    <Field Class="custom-field" Name="@field.Name" />
                }
                <button class="add-field">Add Field</button>
            </div>

            <div class="template">
                <select class="custom-templates-selector" id="templatesSelector" value="@CustomTemplate">
                    <option selected disabled>Choose Template</option>
                    @if (AllTemplates.Any())
                        @foreach (var template in AllTemplates)
                        {
                            <option value="@template">@template.Name</option>
                        }
                </select>
                <button class="set-template-button">Set as Template</button>
            </div>

        </div>
    </div>
}

<!-- C# -->
@code {
    [CascadingParameter]
    public List<Template>? AllTemplates { get; set; }

    private string showDisplay = "";
    private string showEditing = "hidden";
    private string newName = "";

    protected override void OnInitialized()
    {
        newName = Name;
    }

    // Toggle editing
    private void ToggleEditMode() {
        showDisplay = showDisplay == string.Empty ? "hidden" : "";
        showEditing = showEditing == string.Empty ? "hidden" : "";
    }

    private void SetValue() {
        if (newName != string.Empty) { Name = newName; }
        else { Name = "Untitled"; }
        ToggleEditMode();
    }

}