<!-- Component -->
<div class="@Class">

    <div class="display @showDisplay">
        <button @onclick="ToggleEditMode">Edit</button>
        <strong>@Name: </strong>
        @if (Class == "url") {
            <a href=@Value>@Value</a>
        } else {
            @Value
        }
        
    </div>

    <div class="editing @showEditing">
        <button @onclick="SetValue">Done</button>
        <button @onclick="CancelEdit">Cancel</button>
        <label>
            <!-- Field Name -->
            @if (Class == "custom-field") {
                <input placeholder="Field Name..." @bind="@newName"/>
            } else {
                <strong>@Name:</strong>
            }
            <!-- Field Value -->
            @if (Class == "description") {
                <textarea placeholder="@Placeholder" @bind="@newValue" rows="4" cols="120"></textarea>
            } else {
                <input placeholder="@Placeholder" @bind="@newValue"/>
            }
        </label>
    </div>

</div>