<!-- Component -->
<div class="@Class">

    <div class="display @showDisplay">
        @if (Class == "name") {
            <strong>@Value</strong>
        } else {
            <strong>@Name: </strong>
            @if (Class == "url") {
                <a href=@Value>@Value</a>
            } else {
                @Value
            }
        }
        <button @onclick="ToggleEditMode">Edit</button>
    </div>

    <div class="editing @showEditing">
        <label>
            <!-- Field Name -->
            @if (Class == "custom-field") {
                <input placeholder="Field Name..." @bind="@newName"/>
            } else if (Class != "name") {
                <strong>@Name:</strong>
            }
            <!-- Field Value -->
            @if (Class == "description") {
                <textarea placeholder="@Placeholder" @bind="@newValue" rows="4" cols="120"></textarea>
            } else {
                <input placeholder="@Placeholder" @bind="@newValue"/>
            }
            <button @onclick="SetValue">Done</button>
            <button @onclick="CancelEdit">Cancel</button>
        </label>
    </div>

</div>