@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inherits AbstractFolderItem

<!-- CSS -->
<style>
    .folder-items-list {
        padding: 0px;
        margin: 0px 0px 0px 1em;
    }

    .delete-item {
        float: right;
    }
    
    * .selected-True {
        background-color: lightgray;
    }
</style>

<!-- Component -->
<span class="folder-heading">
    <span class="display @showDisplay">
        <NavLink class="@($"folder {Class}")" @onclick="Expand">
            @Name
        </NavLink>
        <button class="edit-folder-item" @onclick="ToggleEditMode">Edit</button>
    </span>
    <span class="editing @showEditing">
        <input placeholder="Folder Name..." @bind="@newName"/>
        <button @onclick="SetValue">Done</button>
    </span>
    <button class="add-bookmark" @onclick="AddBookmark">ABM</button>
    <button class="add-folder" @onclick="AddFolder">AF</button>
</span>

<ul class="@($"folder-items-list {expandFolder}")">
@for (int i = 0; i < Items.Count; i++) {

    var index = i;

    <li class="@($"item selected-{Items[index].IsSelected}")">
        <div class="item-container">
            <button class="delete-item" @onclick="@(e => DeleteItem(index))">X</button>
            <span>@index</span>
            @if (Items[index].IsFolder == true) {
                <Folder Index="@index" Class="subfolder" Name="@Items[index].Name" />
            } else {
                <Bookmark Index="@index" Class="@Items[index].Class" Name="@Items[index].Name" DisplayAsFolderItem=true />
            }
        </div>
    </li>
}
</ul>