@inject Blazored.LocalStorage.ILocalStorageService _localStorage
@inherits AbstractFolderItem

<div class="folder-heading">
    <span class="display @showDisplay">
        <NavLink class="@($"{Class}")" @onclick="Expand">
            @Name
        </NavLink>
        <button class="add-bookmark" @onclick="AddBookmark">
            <img src="images/add-bookmark.svg" width="18" height="18"/>
        </button>
        <button class="add-folder" @onclick="AddFolder">
            <img src="images/add-folder.svg" width="18" height="18"/>
        </button>
        <button class="edit-folder-item" @onclick="ToggleEditMode">
            <img src="images/edit.svg" width="18" height="18"/>
        </button>
    </span>
    
    <span class="editing @showEditing">
        <input placeholder="Folder Name..." @bind="@newName"/>
        <button class="add-bookmark" @onclick="AddBookmark">
            <img src="images/add-bookmark.svg" width="18" height="18"/>
        </button>
        <button class="add-folder" @onclick="AddFolder">
            <img src="images/add-folder.svg" width="18" height="18"/>
        </button>
        <button class="set-value" @onclick="SetValue">
            <img src="images/check.svg" width="18" height="18"/>
        </button>
    </span>
</div>

<ul class="@($"folder-items-list {expandFolder}")">
@for (int i = 0; i < Items.Count; i++) {

    var index = i;

    <li class="@($"item")">
        <div @key="Items[index]" class="item-container">
            <button class="delete-item" @onclick="@(e => DeleteItem(index))">
                <img src="images/delete.svg" width="18" height="18"/>
            </button>
            <CascadingValue Value="_MainLayout">
                @if (Items[index].IsFolder()) {
                    <Folder @bind-Name="Items[index].Name" @bind-Items="((Folder)Items[index]).Items" />
                } else {
                    <BookmarkFolderItem @bind-Name="Items[index].Name" />
                }
            </CascadingValue>
        </div>
    </li>
}
</ul>